body {
    background-image: url(baggrundbedark.jpg); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
}

.createCard, .color, .uploadCard { 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  color: #ffffff; 
  text-align: center; 
}

.back, .home {
    width: 50px; 
}

.back {
    float: left;
}

.home {
    float: right; 
}

.createCard {
    font-size: 30px; 
}

.inputContainer {
    padding: 4rem; 
    text-align: center; 

}

main {
    display: grid;
    height: 100vh;
    align-items: center;
}

body, ol {
    margin: 0; 
    padding: 0;
}

#upload {
    display: none;
}
#upload.active {
    display: block;
}



section#upload {
    width: 80vw;
    height: 610px;
    background-color: white;
    position: absolute;
    left: 50%;
    margin-left: -40vw;
    top: 360px;
}

#closeUpload {
    height:8%;
    width:8%;
}

h1 {
    font-size: 300%;
}
