header {
    grid-template-columns: 1fr 2fr 1fr; 
}

img {
    width: 50px;
}

.goBack {
    
}

body {
    background-image: url(baggrund5.jpg);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
}