.submitButton {
    border-radius: 10px;
    column-span: all; 
    margin: 0 auto; 
    display: block; 
    padding: 1rem; 
    text-align: center; 
}

main {
    justify-items: center; 
    align-items: center; 
    display: grid; 
    grid-gap: 10px; 
}

li {
    justify-items: center;
    align-content: center; 
    column-span: all; 
}

