.submitButton {
    border-radius: 10px;
    height: 100%;
    border-width: 3px;
    width: 100%;
    align-items: center;  
    float: center;
    column-span: all; 
    margin: 0 auto; 
}

main {
    justify-items: center; 
    align-items: center; 
    display: grid; 
    grid-gap: 10px; 
}

li {
    justify-items: center;
    align-content: center; 
    column-span: all; 
}