

*{
    margin: 0;
    padding: 0;
}

#grid {
    display: grid;
    grid-template-columns: 1/12;
    grid-template-rows: auto;
}

.submitButton {
    margin: 1rem; 
    display: block;   
    padding: 1rem; 
    font-size: 1rem;
    height: 25px; 
    width: 250px; 
    background-color: #ffffff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

main {
    justify-items: center; 
    align-items: center; 
    display: grid; 
    grid-gap: 10px; 
}


img {
    justify-items: center; 
    align-items: center; 
    margin: 2rem; 
    padding: 1rem;
    height: 100px;

}

body {
    background-image: url(baggrund2.jpg); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100%;  

}

footer { 
    align-content: center; 
    text-align: center;
    color: dodgerblue; 
}