body {
    background-image: url(baggrund2.jpg); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100%;
}

.inputContainer, p {  
    padding: 1rem;  
    font-size: 100%;
    margin: 1rem; 
}

.inputContainer {
   border: 1px solid #000000; 

}

p {
    text-align: center; 
}
