body {
    background-image: url(baggrund2.jpg); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100%;
}

.inputContainer, a {  
    padding: 1rem;  
    font-size: 100%;
    margin: 1rem; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputContainer {
   border: 1px solid #000000; 

}

a {
    text-align: center;

}

main {
    display: grid;
    height: 100vh;
    align-items: center;
}
