body {
    background-image: url(forsidebaggrund.jpg);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100%; 
}

img, body, ol {  
    margin: 0; 
    padding: 0;

}

main { 
    justify-items: center; 
    align-items: center; 
    display: grid; 
    grid-gap: 10px; 

}

.dailyJoke, .generator, .darkCreative, .profile, .logOut {
    margin: 1rem 0; 
    display: block;    
    font-size: 1.5rem;
    height: 70px; 
    width: 350px; 
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
}

.dailyJoke { 
    background-image: url(baggrundjoke.jpg); 
}

.generator {
    background-image: url(baggrundgenerator.jpg);
}

.darkCreative, .logOut {
    background-image: url(baggrundbedark.jpg);
}

.profile {
    background-image: url(baggrundprofile.jpg); 
    
}


