header {
    display: grid; 
    background-color: darkred; 
    grid-template-rows: 1fr 1fr 1fr; 
}



main {

    background-color: darkred; 
    display: grid; 
    grid-template-columns: 1fr 2fr 1fr; 
    grid-template-rows: 2fr 1fr 1fr; 
}

.submitButton {
    color: black; 
    border-radius: 20%; 
    border-color: black;
    margin: 0 auto;  
    background-color: ghostwhite; 
}