header {
    display: grid; 
    background-color: darkred; 
    grid-template-rows: 1fr 1fr 1fr; 
}



main {

    background-color: darkred; 
    display: grid; 
    grid-template-columns: 1fr 2fr 1fr; 
    grid-template-rows: 2fr 1fr 1fr; 
}

